/* Color Theme Swatches in Hex */
.The-texture-of-the-wall-is-half-white-half-red-1-hex { color:  #D92B3A; }
.The-texture-of-the-wall-is-half-white-half-red-2-hex { color: #8C031C; }
.The-texture-of-the-wall-is-half-white-half-red-3-hex { color: #BF213E; }
.The-texture-of-the-wall-is-half-white-half-red-4-hex { color: #D9415D; }
.The-texture-of-the-wall-is-half-white-half-red-5-hex { color: #F2F2F2; }
